<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>

<head>
  <title>ACP Controle Times - Consumer</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
  </script>

  <!-- moment.js is the JavaScript equivalent of arrow.py -->
  <script src="{{ url_for('static', filename="js/moment.min.js") }}"></script>

</head>

<!-- Our own style sheet -->
<link rel="stylesheet" href="/static/css/calc.css" />

<body>
  <!-- bootstrap requires a 'container' div around content -->
  <div class="container">

    <!--
  -- If there are any warnings or other messages from a prior
  -- request to the server, 
  -- they appear above the rest of the content, just until the next 
  -- action.  (This is only on request/response transactions that
  -- result in regenerating the page, not on every xmlhttp request.) 
  -->
    <h3>Select Data Type</h3>
    <label for="">If you choose json, the data would display on the page. If you choose csv, you would download a csv file.</label>

    <div class="row">
      <div class="col-md-12">
        <select name="datatype" id="datatype">
          <option value="json">json</option>
          <option value="csv">csv</option>
        </select>
      </div>
    </div>

    <h3>List All Open and Close times</h3>

    <div class="row"><div class="col-md-12"><input type="button" value="List All" id="list-all"></div></div>

    <h3>Top</h3>
    <label for="">If you want to get top N open or close times in ascending order, just input the number here. If you input nothing, we would return all the data.</label>
    <div class="row">
      <div class="col-md-12">
        <input type="number" id="top">
        <input type="button" value="List Open Times" id="list-open">
        <input type="button" value="List Close Times" id="list-close">
      </div>
    </div>


    <div id="control_times"></div>

    <script type="text/javascript">
      var HOST = "http://localhost:5001";
      var LIST_ALL_URL = HOST+"/listAll";
      var LIST_OPEN_URL = HOST+"/listOpenOnly";
      var LIST_CLOSE_URL = HOST+"/listCloseOnly";

      $(document).ready(function () {
        // Do the following when the page is finished loading
        $("#list-all").click(function(){
          var datatype = $("#datatype").val();
          if (datatype == 'csv') {
            window.open(LIST_ALL_URL + "/csv");
            return;
          }

          $.getJSON(LIST_ALL_URL, function(data) {
            display_content = "";
            for (let index = 0; index < data.length; index++) {
              const element = data[index];
              display_content += "Open time: " + moment(element['open']).format('YYYY-MM-DD HH:mm') + "; Close time: " + moment(element['close']).format('YYYY-MM-DD HH:mm') + "<br/>";
            }
            $("#control_times").html(display_content)
          })
        });
        $("#list-open").click(function(){
          var datatype = $("#datatype").val();
          var top = parseInt($("#top").val());

          var final_url = LIST_OPEN_URL;
          if (datatype == 'csv') {
            final_url = LIST_OPEN_URL + '/csv'
          }

          if (top > 0) {
            final_url += "?top=" + top;
          }

          if (datatype == 'csv') {
            window.open(final_url);
            return;
          }

          $.getJSON(final_url, function(data) {
            display_content = "";
            for (let index = 0; index < data.length; index++) {
              const element = data[index];
              display_content += "Open time: " + moment(element).format('YYYY-MM-DD HH:mm') + "<br/>";
            }
            $("#control_times").html(display_content)
          })
        });
        $("#list-close").click(function(){
          var datatype = $("#datatype").val();
          var top = parseInt($("#top").val());

          var final_url = LIST_CLOSE_URL;
          if (datatype == 'csv') {
            final_url = LIST_CLOSE_URL + '/csv'
          }

          if (top > 0) {
            final_url += "?top=" + top;
          }

          if (datatype == 'csv') {
            window.open(final_url);
            return;
          }

          $.getJSON(final_url, function(data) {
            display_content = "";
            for (let index = 0; index < data.length; index++) {
              const element = data[index];
              display_content += "Close time: " + moment(element).format('YYYY-MM-DD HH:mm') + "<br/>";
            }
            $("#control_times").html(display_content)
          })
        });

      }); // end of what we do on document ready
    </script>

  </div>
</body>

</html>